#Form{
    width: 50%;
    display: flex;
    margin: auto;
    justify-self: center;
}

body{
    background-color: grey;
}

.items {
    font-size: 1.5em;
    border: dashed black 5px;
    box-sizing: border-box;
    background-color: honeydew;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  @media (max-width: 900px) {
    .items{
        font-size: 1.1em;
    }
}

.container {
    font-size: 2em;
    border: dashed black 5px;
    box-sizing: border-box;
    background-color: honeydew;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  @media (max-width: 900px) {
    .container{
        font-size: 1.3em;
    }
}